<div class="home">
  <h1 class="title">אלביט מערכות</h1>
  <button class="toggle-image" (click)="onClick()">{{ btnTitle }}</button>
  <div class="img">
    <img src="./assets/elbit_logo.jpg" *ngIf="isShown">
  </div>
</div>
